.place__title {
    margin-block-end: 0;
    margin-block-start: 0;
    color: white;
    font-size: 72px;
    line-height: calc(76 / 72);
    font-weight: 900;
}

@media (max-width: 830px) {
    .place__title {
    font-size: 42px;
    line-height: calc(46 / 42);
    }

    .place:first-of-type .place__title {
        width: 80%;
    }
}

@media (max-width: 584px) {
    .place__title {
    }
}

@media (max-width: 425px) {
    .place__title {
    font-size: 32px;
    line-height: calc(35 / 32);
    justify-items: center;
    }
}

@media (max-width: 340px) {
    .place:first-of-type .place__title {
        width: 90%;
    }
}