.intro__container {
    width: 984px;
    margin: auto;
}

@media (max-width: 1024px) {
    .intro__container {
        padding-left: 48px;
    }
}

@media (max-width: 768px) {
    .intro__container {
        padding: 0 24px;
    }
}

@media (max-width: 425px) {
    .intro__container {
        padding: 0 16px;
        margin: auto;
    }
}