.intro__text {
    margin-block-end: 0;
    margin-block-start: 0;
    color: white;
    padding-top: 40px;
    max-width: 690px;
    font-size: 16px;
    line-height: 1.63;
    font-weight: normal;
}

@media (max-width: 1024px) {
    .intro__text {
        max-width: 690px;
    }
}

@media (max-width: 800px) {
    .intro__text {
        max-width: 720px;
    }
}

@media (max-width: 767px) {
    .intro__text {
        max-width: 90vw;
    }
}