.intro {
    background-color: #2A2C2F;
    padding-top: 92px;
    width: 984px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: ;
}

@media (max-width: 1024px) {
    .intro {
        width: 100%;
        padding-left: 48px;
    }
}

@media (max-width: 768px) {
    .intro {
        margin: 0;
        padding: 88px 24px 0;
    }
}

@media (max-width: 425px) {
    .intro {
        padding: 64px 16px 0;
    }
}