.lead__image-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 984px;
}

@media (max-width: 1024px) {
    .lead__image-container {
        width: 90.625vw;
    }
}

@media (max-width: 928px) {
    .lead__image-container {
        width: 100vw;
    }
}