@import url(../vendor/normalize.css);

/* {border: solid red 1px;}*/

@font-face {
    src: url(../fonts/Inter-Regular.woff) format(woff),
        url(../fonts/Inter-Regular.woff2) format(woff2);
    font-family: "Inter", Arial, sans-serif;
}

@font-face {
    src: url(../fonts/Inter-Bold.woff) format(woff),
        url(../fonts/Inter-Bold.woff2) format(woff2);
    font-family: "Inter", Arial, sans-serif;
    font-style: bold;
}

.page {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Inter";
    overflow: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.header {
    background-color: #2A2C2F;
    display: flex;
    justify-content: space-between;
    padding: 28px 48px 0;
}

@media (max-width: 768px) {
    .header {
        padding: 28px 24px 0;
    }
}

@media (max-width: 425px) {
    .header {
        padding: 16px 16px 0;
    }
}

.header__logo {
}

@media (max-width: 425px) {
    .header__logo {
        max-width: 142px;
    }
}

.header__lang-links {
    display: flex;
    align-items: flex-end;
}

.header__lang-link {
    color: white;
    font-family: "Inter";
    margin-right: 18px;
    font-size: 24px;
    line-height: 1.167;
}

.header__lang-link:last-of-type {
    margin-right: 0;
}

@media (max-width: 425px) {
    .header__lang-link {
        font-size: 18px;
        line-height: calc(24 / 18);
    }
}

.header__lang-link_underline {
    text-decoration: underline;
}

.lead {
    background-color: #2A2C2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 56px;
}

@media (max-width: 1024px) {
    .lead {
        padding-top: 48px;
    }
}

.lead__title {
    margin-block-end: 0;
    margin-block-start: 0;
    width: 720px;
    text-align: center;
    color: white;
    font-size: 96px;
    line-height: 1.041;
    font-weight: bold;
}

@media (max-width: 720px) {
    .lead__title {
    width: 90%;
    font-size: 60px;
    line-height: 1.1;
    }
}

@media (max-width: 540px) {
    .lead__title {
    font-size: 50px;
    line-height: 1.1;
    }
}

@media (max-width: 425px) {
    .lead__title {
    font-size: 40px;
    line-height: 1.1;
    }
}

.lead__subtitle {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-top: 32px;
    color: white;
    width: 640px;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
    font-weight: normal;
}

@media (max-width: 720px) {
    .lead__subtitle {
    width: 80%;
    font-size: 24px;
    }
}

@media (max-width: 540px) {
    .lead__subtitle {
    font-size: 20px;
    margin-top: 16px;
    }
}

@media (max-width: 425px) {
    .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    }
}

.lead__image-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 984px;
}

@media (max-width: 1024px) {
    .lead__image-container {
        width: 90.625vw;
    }
}

@media (max-width: 928px) {
    .lead__image-container {
        width: 100vw;
    }
}

.lead__image {
    width: 100%;
    margin-top: 64px;
    height: 615px;
    object-fit: fill;
}

@media (max-width: 1024px) {
    .lead__image {
        margin-top: 56px;
        height: 580px;
    }
}

@media (max-width: 768px) {
    .lead__image {
        margin-top: 56px;
        height: 480px;
    }
}

@media (max-width: 480px) {
    .lead__image {
        margin-top: 40px;
        height: 200px;
    }
}

.lead__caption {
    margin-block-end: 0;
    margin-block-start: 0;
    color: white;
    margin-top: 8px;
    font-size: 10px;
    line-height: 1.4;
    font-weight: normal;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

@media (max-width: 928px) {
    .lead__caption {
        padding-left: 3.125vw;
    }
}

.intro {
    background-color: #2A2C2F;
    padding-top: 92px;
    width: 100%;
    display: flex;
}

@media (max-width: 768px) {
    .intro {
        padding-top: 88px;
    }
}

@media (max-width: 425px) {
    .intro {
        padding-top: 64px;
    }
}

.intro__container {
    width: 984px;
    margin: auto;
}

@media (max-width: 1024px) {
    .intro__container {
        padding-left: 48px;
    }
}

@media (max-width: 768px) {
    .intro__container {
        padding: 0 24px;
    }
}

@media (max-width: 425px) {
    .intro__container {
        padding: 0 16px;
        margin: auto;
    }
}

.intro__title {
    margin-block-end: 0;
    margin-block-start: 0;
    color: white;
    max-width: 690px;
    font-size: 54px;
    line-height: 1.074;
    font-weight: bold;
}

@media (max-width: 425px) {
    .intro__title {
        font-size: 32px;
        line-height: calc(35 / 32);  
    }
}

.intro__text {
    margin-block-end: 0;
    margin-block-start: 0;
    color: white;
    padding-top: 40px;
    max-width: 690px;
    font-size: 16px;
    line-height: 1.63;
    font-weight: normal;
}

.intro__list {
    padding-top: 32px;
    max-width: 690px;

}
.intro__list-row {
    margin-block-end: 0;
    margin-block-start: 0;
    color: white;
    font-size: 12px;
    line-height: 1.5;
    font-weight: normal;
}

.intro__span-accent {
    font-weight: bold;
}

.photo-grid {
    background-color: #2A2C2F;
    padding: 92px 48px 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(284px , 1fr));
    gap: 16px;
}

@media (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        gap: 14px;
}
}

@media (max-width: 1023px) {
    .photo-grid {
        grid-template-columns: repeat(3, minmax(210px, 1fr));
    }
}

@media (max-width: 768px) {
    .photo-grid {
        padding: 88px 24px 0;
        grid-template-columns: repeat(2, minmax(185px, 1fr));
        gap: 16px;
    }
}

@media (max-width: 425px) {
    .photo-grid {
        padding: 64px 16px 0;
        grid-template-columns: repeat(1, minmax(288px, 1fr));
        gap: 12px;
    }
}

.photo-grid__item {
    width: 100%;
}

.places {
    background-color: #2A2C2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 92px;
    padding-bottom: 92px;
}

@media (max-width: 830px) {
    .places {
        padding-top: 88px;
        padding-bottom: 88px;
    }
}

@media (max-width: 425px) {
    .places {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

.place {
    display: grid;
    max-width: 984px;
    grid-template-columns: 460px 484px;
    column-gap: 40px;
    row-gap: 48px;
    padding-top: 80px;
    margin: auto;
}

.place:first-of-type {
    padding-top: 0;
}

@media (max-width: 1024px) {
    .place {
        grid-template-columns: minmax(340px, 440px) minmax(352px, 484px);
        padding: 80px 48px 0;
    }
}

@media (max-width: 830px) {
    .place {
        column-gap: 28px;
        padding: 72px 24px 0;
    }
}

@media (max-width: 767px) {
    .place {
        grid-template-columns: minmax(250px, 340px) minmax(260px, 353px);
        column-gap: 18px;
        padding: 48px 28px 0;
    }
}

@media (max-width: 584px) {
    .place {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 425px) {
    .place {
        grid-template-columns: repeat(1, minmax(288px, 1fr));
        column-gap: 32px;
        row-gap: 32px;
        padding: 48px 16px 0;
    }
}

.place__title {
    margin-block-end: 0;
    margin-block-start: 0;
    color: white;
    font-size: 72px;
    line-height: calc(76 / 72);
    font-weight: bold;
}

@media (max-width: 830px) {
    .place__title {
    font-size: 42px;
    line-height: calc(46 / 42);
    }

    .place:first-of-type .place__title {
        width: 80%;
    }
}

@media (max-width: 584px) {
    .place__title {
    }
}

@media (max-width: 425px) {
    .place__title {
    font-size: 32px;
    line-height: calc(35 / 32);
    justify-items: center;
    }
}

@media (max-width: 340px) {
    .place:first-of-type .place__title {
        width: 90%;
    }
}

.place__image {
    width: 100%;
}

@media (max-width: 425px) {
    .place__image {
        width: 100vw;
        transform: translateX(-16px);
    }
}

.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (max-width: 425px) {
    .place__website {
        display: none;
    }
}

.place__url-heading {
    margin-block-end: 0;
    margin-block-start: 0;
    color: #aaaaaa;
    font-size: 12px;
    line-height: 1;
    font-weight: normal;
}

.place__link {
    margin-top: 12px;
    color: white;
    font-size: 18px;
    line-height: calc(22 / 18);
    font-weight: normal;
    transition: all 0.4s ease-out;
}

.place__link:hover {
    opacity: 0.8;
}

.place__paragraph {
    margin-block-end: 0;
    margin-block-start: 0;
    color: white;
    font-size: 18px;
    line-height: 1.63;
    font-weight: normal
}

.place__paragraph:first-of-type {
    margin-bottom: 24px;
}

@media (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
    }
    .place__paragraph:last-of-type {
        margin-bottom: 0;
    }
}

.cover {
    background-color: #2A2C2F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/cover-trains.jpg);
    background-size: 100% 100%;
    object-fit: cover;
    width: 1184px;
    height: 740px;
    text-decoration: none;
    position: relative;
}

@media (max-width: 1184px) {
    .cover__link {
        width: 100vw;
    }
}

@media (max-width: 1024px) {
    .cover__link {
        height: 640px;
    }
}

@media (max-width: 768px) {
    .cover__link {
        height: 480px;
    }
}

@media (max-width: 584px) {
    .cover__link {
        height: 320px;
    }
}

@media (max-width: 425px) {
    .cover__link {
        height: 200px;
    }
}

.cover__overlay {
    background-color: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: opacity 0.4s ease-out;
}

.cover__overlay:hover {
    opacity: 0.8;
}

.cover__title {
    margin-block-end: 0;
    margin-block-start: 0;
    color: white;
    font-size: 72px;
    line-height: 1.055;
    font-weight: bold;
    width: 560px;
    text-align: center;
    z-index: 10;
}

@media (max-width: 584px) {
    .cover__title {
        font-size: 52px;
        width: 75%;
    }
}

@media (max-width: 480px) {
    .cover__title {
        width: 85%;
    }
}

@media (max-width: 425px) {
    .cover__title {
        font-size: 32px;
        line-height: 1.094;
    }
}

.cover__subtitle {
    margin-block-end: 0;
    margin-block-start: 0;
    color: white;
    font-size: 18px;
    line-height: 1.2222;
    font-weight: normal;
    width: 360px;
    text-align: center;
    margin-top: 32px;
    z-index: 10;
}

@media (max-width: 584px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 1.143;
        width: 75%;
    }
}

@media (max-width: 480px) {
    .cover__subtitle {
        width: 95%;
        margin-top: 16px;
    }
}

.footer {
    background-color: #2A2C2F;
    padding: 92px 48px 24px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 690px) {
    .footer {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 88px 24px 24px;
    }
}

@media (max-width: 690px) {
    .footer {
        padding: 64px 16px 16px;
    }
}

.footer__links {
    margin-block-end: 0;
    margin-block-start: 0;
    color: white;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    gap: 18px;
    padding-inline-start: 0;
}

@media (max-width: 690px) {
    .footer__links {
        grid-template-columns: repeat(1, min-content);
        gap: 32px;
    }
}

.footer__link {
    color: white;
    font-size: 16px;
    line-height: 1.125;
    font-weight: normal;
}

@media (max-width: 690px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;
    }
}

.footer__copyright {
    margin-block-end: 0;
    margin-block-start: 0;
    color: white;
    font-size: 14px;
    line-height: 1.143;
    font-weight: normal;
}

@media (max-width: 690px) {
    .footer__copyright {
        line-height: 1;
        padding-top: 48px;
}