.footer {
    background-color: #2A2C2F;
    padding: 92px 48px 24px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 690px) {
    .footer {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 88px 24px 24px;
    }
}

@media (max-width: 690px) {
    .footer {
        padding: 64px 16px 16px;
    }
}