.intro__title {
    margin-block-end: 0;
    margin-block-start: 0;
    color: white;
    max-width: 690px;
    font-size: 54px;
    line-height: 1.074;
    font-weight: 900;
}

@media (max-width: 1024px) {
    .intro__title {
        max-width: 690px;
    }
}

@media (max-width: 800px) {
    .intro__title {
        max-width: 720px;
    }
}

@media (max-width: 767px) {
    .intro__title {
        max-width: 90vw;
    }
}

@media (max-width: 425px) {
    .intro__title {
        font-size: 32px;
        line-height: calc(35 / 32);
    }
}